.inicio {
    background-color: rgba(45, 150, 219, 0.938);
}
.inicio{
    color: whitesmoke;
}
#b1{
    padding-left: 550px;
}
#t1{
    padding-left: 250px;
    padding-right: 250px;
}
#oceano{
    padding-left: 650px;
}
#t2{
    padding-left: 60px;
    padding-right: 400px;
}
#fotoonu{
    padding-left: 150px;
}
#video{
    width: 600px;
    height: 300px
}